
.chamada{
  background : rgb(135, 112, 156);
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
}
body{
  background-color: black;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 100px;
}
header{
  font-size: 35px;
  color: purple;
  border-bottom: 3px solid purple;
  padding: 20px;
}
h1{
  font-size: 40px;
}
.chamada-texto{
  margin-right: 5%;
}
.categoria{
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
 .categoria-videos{
  display: flex;
  overflow-y: auto;
  gap: 10px;
 }
.categoria-videos img{
  height: 200px;
  opacity: 0.5;
}
.categoria-videos img:hover{
  opacity: 1.0;
  border: 3px solid rgb(255, 237, 240);
}
